make-automation/blueprint.json
{
    "name": "VC_demo",
    "flow": [
        {
            "id": 1,
            "module": "google-sheets:watchRows",
            "version": 2,
            "parameters": {
                "from": "drive",
                "mode": "select",
                "limit": 1,
                "sheetId": "contacts_raw",
                "__IMTCONN__": 14283590,
                "spreadsheetId": "/1yqH7mtrEQNHPhXDw7-YTRbr_81SO32uP/1PUh59oMrxhGCo_Iyon3f9OyFqwtEOjr3ifVCsthlnWY",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 262,
                    "y": -3
                },
                "restore": {
                    "parameters": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "contacts_raw"
                        },
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (nyordanov077@gmail.com)"
                        },
                        "spreadsheetId": {
                            "path": [
                                "VC_raw_data",
                                "data_raw"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "name (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "company (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "website (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "email (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "notes (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "status (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "role (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "sector (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "company_summary (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "vc_relevance_score (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "reason_for_score (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "suggested_next_action (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "confidence_percentage (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "tlsType": "",
                "authenticationType": "noAuth"
            },
            "mapper": {
                "url": "https://api.openai.com/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer API-KEY"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    }
                ],
                "contentType": "json",
                "inputMethod": "jsonString",
                "shareCookies": false,
                "parseResponse": true,
                "allowRedirects": true,
                "stopOnHttpError": true,
                "jsonStringBodyContent": "{\n  \"model\": \"gpt-5.4-nano\",\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a VC analyst assistant. Rules:\\n role should describe the person's likely role, for example Founder, CEO, CFO, Investor, LP, Operator, Ecosystem Contact, Unknown.\\n sector should be concise, for example Fintech, B2B SaaS, ClimateTech, Digital Health, AI Infrastructure.\\n company_summary should be 1 sentence. \\n vc_relevance_score must be an integer from 0 to 100.\\n confidence_percentage must be an integer from 0 to 100.\\n reason_for_score should explain why the contact is or is not relevant for VC follow-up.\\n suggested_next_action should be specific and operational. \\n If information is missing, do not invent facts. Lower the confidence_percentage. Do not include markdown. Return only raw valid JSON. Do not wrap it in markdown. Do not use ```json. Do not include any explanation before or after the JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Turn this contact into structured VC intelligence.\\n\\nName: {{1.`1`}}\\nCompany: {{1.`2`}} \\nWebsite: \\nNotes: {{1.`5`}}\\n\\nReturn exactly this JSON structure:\\n{\\n  \\\"role\\\": \\\"\\\",\\n  \\\"sector\\\": \\\"\\\",\\n  \\\"company_summary\\\": \\\"\\\",\\n  \\\"vc_relevance_score\\\": 0,\\n  \\\"reason_for_score\\\": \\\"\\\",\\n  \\\"suggested_next_action\\\": \\\"\\\",\\n  \\\"confidence_percentage\\\": 0\\n}\"\n    }\n  ]\n}",
                "requestCompressedContent": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "tlsType": {
                            "label": "Empty"
                        },
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "queryParameters",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Name",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query parameters"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "type": "any",
                        "label": "Data"
                    },
                    {
                        "name": "statusCode",
                        "type": "number",
                        "label": "Status Code"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "content-length",
                                "type": "text",
                                "label": "Content-Length"
                            },
                            {
                                "name": "content-encoding",
                                "type": "text",
                                "label": "Content-Encoding"
                            },
                            {
                                "name": "content-type",
                                "type": "text",
                                "label": "Content-Type"
                            },
                            {
                                "name": "server",
                                "type": "text",
                                "label": "Server"
                            },
                            {
                                "name": "cache-control",
                                "type": "text",
                                "label": "Cache-Control"
                            },
                            {
                                "name": "set-cookie",
                                "spec": {
                                    "type": "text"
                                },
                                "type": "array",
                                "label": "Set-Cookie"
                            }
                        ],
                        "type": "collection",
                        "label": "Headers"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "mapper": {
                "json": "{{get(10.data.choices; 1)}}{{.message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 27,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "json": "{{21.message.content}}"
            },
            "metadata": {
                "designer": {
                    "x": 1177,
                    "y": -2
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 14283590
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "6": "processed",
                    "7": "{{27.role}}",
                    "8": "{{27.sector}}",
                    "9": "{{27.company_summary}}",
                    "10": "{{27.vc_relevance_score}}",
                    "11": "{{27.reason_for_score}}",
                    "12": "{{27.suggested_next_action}}",
                    "13": "{{27.confidence_percentage}}"
                },
                "sheetId": "contacts_raw",
                "rowNumber": "{{1.`__ROW_NUMBER__`}}",
                "spreadsheetId": "/1yqH7mtrEQNHPhXDw7-YTRbr_81SO32uP/1PUh59oMrxhGCo_Iyon3f9OyFqwtEOjr3ifVCsthlnWY",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 1462,
                    "y": -2
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "contacts_raw"
                        },
                        "spreadsheetId": {
                            "path": [
                                "VC_raw_data",
                                "data_raw"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "name (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "company (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "website (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "email (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "notes (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "status (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "role (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "sector (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "company_summary (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "vc_relevance_score (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "reason_for_score (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "suggested_next_action (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "confidence (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "(O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "(P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "(Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "(R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "(S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "(T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "(U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "(V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "(AA)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "id",
                                                "name",
                                                "company",
                                                "website",
                                                "email",
                                                "notes",
                                                "status",
                                                "role",
                                                "sector",
                                                "company_summary",
                                                "vc_relevance_score",
                                                "reason_for_score",
                                                "suggested_next_action",
                                                "confidence"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (nyordanov077@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "name (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "company (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "website (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "email (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "notes (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "status (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "role (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "sector (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "company_summary (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "vc_relevance_score (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "reason_for_score (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "suggested_next_action (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "confidence (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "(O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "(P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "(Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "(R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "(S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "(T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "(U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "(V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "(AA)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "id",
                                    "name",
                                    "company",
                                    "website",
                                    "email",
                                    "notes",
                                    "status",
                                    "role",
                                    "sector",
                                    "company_summary",
                                    "vc_relevance_score",
                                    "reason_for_score",
                                    "suggested_next_action",
                                    "confidence"
                                ]
                            ]
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}